@import "../components/themes/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border ;
    scrollbar-color: var(--primary) var(--secondary);
  }
  body {
    @apply bg-background text-foreground m-0 p-0 min-h-screen;
  }
}

.recharts-layer.recharts-line > path {
  stroke: var(--primary);
}

.recharts-layer .recharts-dot {
  /*fill: var(--primary);*/
  stroke: var(--primary);
  opacity: 0.75;
}

.recharts-layer.recharts-radar {
  fill: var(--primary);
  opacity: 0.75;
}

.recharts-layer.recharts-active-dot {
  fill: var(--primary);
  opacity: 0.1;
}

.navbarScrollHider {
  scrollbar-width: none;
}

.navbarScrollHider::-webkit-scrollbar {
  width: 0;
}

