@import "../components/themes/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border ;
  }
  body {
    @apply bg-background text-foreground m-0 p-0 min-h-screen;
  }
}

.recharts-layer.recharts-line > path {
  stroke: hsl(var(--primary));
}
.recharts-layer .recharts-dot {
  /*fill: hsl(var(--primary));*/
  stroke: hsl(var(--primary));
  opacity: 0.75;
}

.recharts-layer.recharts-active-dot {
  fill: hsl(var(--primary));
  opacity: 0.1;
}