@tailwind base;

@layer base {
    [data-theme="rose_light"] {
        --background: hsl(hsl(0 0% 100%));
        --foreground: hsl(hsl(240 10% 3.9%));
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(240 10% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(240 10% 3.9%);
        --primary: hsl(346.8 77.2% 49.8%);
        --primary-foreground: hsl(355.7 100% 97.3%);
        --secondary: hsl(240 4.8% 95.9%);
        --secondary-foreground: hsl(240 5.9% 10%);
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 46.1%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 5.9% 90%);
        --input: hsl(240 5.9% 90%);
        --ring: hsl(346.8 77.2% 49.8%);
        --radius: 0.5rem;
    }

    [data-theme="rose_dark"] {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(0 0% 95%);
        --card: hsl(24 9.8% 10%);
        --card-foreground: hsl(0 0% 95%);
        --popover: hsl(0 0% 9%);
        --popover-foreground: hsl(0 0% 95%);
        --primary: hsl(346.8 77.2% 49.8%);
        --primary-foreground: hsl(355.7 100% 97.3%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 15%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(12 6.5% 15.1%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 85.7% 97.3%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(346.8 77.2% 49.8%);
        --radius: 0.5rem;
    }

    [data-theme="zinc_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(240 10% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(240 10% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(240 10% 3.9%);
        --primary: hsl(240 5.9% 10%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(240 4.8% 95.9%);
        --secondary-foreground: hsl(240 5.9% 10%);
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 46.1%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 5.9% 90%);
        --input: hsl(240 5.9% 90%);
        --ring: hsl(240 5.9% 10%);
        --radius: 0.5rem;
    }

    [data-theme="zinc_dark"] {
        --background: hsl(240 10% 3.9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(240 10% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(240 10% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(240 5.9% 10%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(240 3.7% 15.9%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(240 4.9% 83.9%);
        --radius: 0.5rem;
    }

    [data-theme="slate_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 84% 4.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 84% 4.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 84% 4.9%);
        --primary: hsl(222.2 47.4% 11.2%);
        --primary-foreground: hsl(210 40% 98%);
        --secondary: hsl(210 40% 96.1%);
        --secondary-foreground: hsl(222.2 47.4% 11.2%);
        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);
        --accent: hsl(210 40% 96.1%);
        --accent-foreground: hsl(222.2 47.4% 11.2%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(214.3 31.8% 91.4%);
        --input: hsl(214.3 31.8% 91.4%);
        --ring: hsl(222.2 84% 4.9%);
        --radius: 0.5rem;
    }

    [data-theme="slate_dark"] {
        --background: hsl(222.2 84% 4.9%);
        --foreground: hsl(210 40% 98%);
        --card: hsl(222.2 84% 4.9%);
        --card-foreground: hsl(210 40% 98%);
        --popover: hsl(222.2 84% 4.9%);
        --popover-foreground: hsl(210 40% 98%);
        --primary: hsl(210 40% 98%);
        --primary-foreground: hsl(222.2 47.4% 11.2%);
        --secondary: hsl(217.2 32.6% 17.5%);
        --secondary-foreground: hsl(210 40% 98%);
        --muted: hsl(217.2 32.6% 17.5%);
        --muted-foreground: hsl(215 20.2% 65.1%);
        --accent: hsl(217.2 32.6% 17.5%);
        --accent-foreground: hsl(210 40% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(217.2 32.6% 17.5%);
        --input: hsl(217.2 32.6% 17.5%);
        --ring: hsl(212.7 26.8%) 83.9;
        --radius: 0.5rem;
    }

    [data-theme="stone_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(20 14.3% 4.1%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(20 14.3% 4.1%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(20 14.3% 4.1%);
        --primary: hsl(24 9.8% 10%);
        --primary-foreground: hsl(60 9.1% 97.8%);
        --secondary: hsl(60 4.8% 95.9%);
        --secondary-foreground: hsl(24 9.8% 10%);
        --muted: hsl(60 4.8% 95.9%);
        --muted-foreground: hsl(25 5.3% 44.7%);
        --accent: hsl(60 4.8% 95.9%);
        --accent-foreground: hsl(24 9.8% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(20 5.9% 90%);
        --input: hsl(20 5.9% 90%);
        --ring: hsl(20 14.3% 4.1%);
        --radius: 0.5rem;
    }

    [data-theme="stone_dark"] {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(60 9.1% 97.8%);
        --card: hsl(20 14.3% 4.1%);
        --card-foreground: hsl(60 9.1% 97.8%);
        --popover: hsl(20 14.3% 4.1%);
        --popover-foreground: hsl(60 9.1% 97.8%);
        --primary: hsl(60 9.1% 97.8%);
        --primary-foreground: hsl(24 9.8% 10%);
        --secondary: hsl(12 6.5% 15.1%);
        --secondary-foreground: hsl(60 9.1% 97.8%);
        --muted: hsl(12 6.5% 15.1%);
        --muted-foreground: hsl(24 5.4% 63.9%);
        --accent: hsl(12 6.5% 15.1%);
        --accent-foreground: hsl(60 9.1% 97.8%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(12 6.5% 15.1%);
        --input: hsl(12 6.5% 15.1%);
        --ring: hsl(24 5.7% 82.9%);
        --radius: 0.5rem;
    }

    [data-theme="gray_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(224 71.4% 4.1%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(224 71.4% 4.1%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(224 71.4% 4.1%);
        --primary: hsl(220.9 39.3% 11%);
        --primary-foreground: hsl(210 20% 98%);
        --secondary: hsl(220 14.3% 95.9%);
        --secondary-foreground: hsl(220.9 39.3% 11%);
        --muted: hsl(220 14.3% 95.9%);
        --muted-foreground: hsl(220 8.9% 46.1%);
        --accent: hsl(220 14.3% 95.9%);
        --accent-foreground: hsl(220.9 39.3% 11%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 20% 98%);
        --border: hsl(220 13% 91%);
        --input: hsl(220 13% 91%);
        --ring: hsl(224 71.4% 4.1%);
        --radius: 0.5rem;
    }

    [data-theme="gray_dark"] {
        --background: hsl(224 71.4% 4.1%);
        --foreground: hsl(210 20% 98%);
        --card: hsl(224 71.4% 4.1%);
        --card-foreground: hsl(210 20% 98%);
        --popover: hsl(224 71.4% 4.1%);
        --popover-foreground: hsl(210 20% 98%);
        --primary: hsl(210 20% 98%);
        --primary-foreground: hsl(220.9 39.3% 11%);
        --secondary: hsl(215 27.9% 16.9%);
        --secondary-foreground: hsl(210 20% 98%);
        --muted: hsl(215 27.9% 16.9%);
        --muted-foreground: hsl(217.9 10.6% 64.9%);
        --accent: hsl(215 27.9% 16.9%);
        --accent-foreground: hsl(210 20% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 20% 98%);
        --border: hsl(215 27.9% 16.9%);
        --input: hsl(215 27.9% 16.9%);
        --ring: hsl(216 12.2% 83.9%);
        --radius: 0.5rem;
    }

    [data-theme="neutral_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(0 0% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);
        --primary: hsl(0 0% 9%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(0 0% 96.1%);
        --secondary-foreground: hsl(0 0% 9%);
        --muted: hsl(0 0% 96.1%);
        --muted-foreground: hsl(0 0% 45.1%);
        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(0 0% 3.9%);
        --radius: 0.5rem;
    }

    [data-theme="neutral_dark"] {
        --background: hsl(0 0% 3.9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(0 0% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(0 0% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(0 0% 9%);
        --secondary: hsl(0 0% 14.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 14.9%);
        --muted-foreground: hsl(0 0% 63.9%);
        --accent: hsl(0 0% 14.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 14.9%);
        --input: hsl(0 0% 14.9%);
        --ring: hsl(0 0% 83.1%);
        --radius: 0.5rem;
    }

    [data-theme="red_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(0 0% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);
        --primary: hsl(0 72.2% 50.6%);
        --primary-foreground: hsl(0 85.7% 97.3%);
        --secondary: hsl(0 0% 96.1%);
        --secondary-foreground: hsl(0 0% 9%);
        --muted: hsl(0 0% 96.1%);
        --muted-foreground: hsl(0 0% 45.1%);
        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(0 72.2% 50.6%);
        --radius: 0.5rem;
    }

    [data-theme="red_dark"] {
        --background: hsl(0 0% 3.9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(0 0% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(0 0% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 72.2% 50.6%);
        --primary-foreground: hsl(0 85.7% 97.3%);
        --secondary: hsl(0 0% 14.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 14.9%);
        --muted-foreground: hsl(0 0% 63.9%);
        --accent: hsl(0 0% 14.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 14.9%);
        --input: hsl(0 0% 14.9%);
        --ring: hsl(0 72.2% 50.6%);
        --radius: 0.5rem;
    }

    [data-theme="orange_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(20 14.3% 4.1%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(20 14.3% 4.1%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(20 14.3% 4.1%);
        --primary: hsl(24.6 95% 53.1%);
        --primary-foreground: hsl(60 9.1% 97.8%);
        --secondary: hsl(60 4.8% 95.9%);
        --secondary-foreground: hsl(24 9.8% 10%);
        --muted: hsl(60 4.8% 95.9%);
        --muted-foreground: hsl(25 5.3% 44.7%);
        --accent: hsl(60 4.8% 95.9%);
        --accent-foreground: hsl(24 9.8% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(20 5.9% 90%);
        --input: hsl(20 5.9% 90%);
        --ring: hsl(24.6 95% 53.1%);
        --radius: 0.5rem;
    }

    [data-theme="orange_dark"] {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(60 9.1% 97.8%);
        --card: hsl(20 14.3% 4.1%);
        --card-foreground: hsl(60 9.1% 97.8%);
        --popover: hsl(20 14.3% 4.1%);
        --popover-foreground: hsl(60 9.1% 97.8%);
        --primary: hsl(20.5 90.2% 48.2%);
        --primary-foreground: hsl(60 9.1% 97.8%);
        --secondary: hsl(12 6.5% 15.1%);
        --secondary-foreground: hsl(60 9.1% 97.8%);
        --muted: hsl(12 6.5% 15.1%);
        --muted-foreground: hsl(24 5.4% 63.9%);
        --accent: hsl(12 6.5% 15.1%);
        --accent-foreground: hsl(60 9.1% 97.8%);
        --destructive: hsl(0 72.2% 50.6%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(12 6.5% 15.1%);
        --input: hsl(12 6.5% 15.1%);
        --ring: hsl(20.5 90.2% 48.2%);
        --radius: 0.5rem;
    }

    [data-theme="green_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(240 10% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(240 10% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(240 10% 3.9%);
        --primary: hsl(142.1 76.2% 36.3%);
        --primary-foreground: hsl(355.7 100% 97.3%);
        --secondary: hsl(240 4.8% 95.9%);
        --secondary-foreground: hsl(240 5.9% 10%);
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 46.1%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 5.9% 90%);
        --input: hsl(240 5.9% 90%);
        --ring: hsl(142.1 76.2% 36.3%);
        --radius: 0.5rem;
    }

    [data-theme="green_dark"] {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(0 0% 95%);
        --card: hsl(24 9.8% 10%);
        --card-foreground: hsl(0 0% 95%);
        --popover: hsl(0 0% 9%);
        --popover-foreground: hsl(0 0% 95%);
        --primary: hsl(142.1 70.6% 45.3%);
        --primary-foreground: hsl(144.9 80.4% 10%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 15%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(12 6.5% 15.1%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 85.7% 97.3%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(142.4 71.8% 29.2%);
        --radius: 0.5rem;
    }

    [data-theme="blue_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(222.2 84% 4.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(222.2 84% 4.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(222.2 84% 4.9%);
        --primary: hsl(221.2 83.2% 53.3%);
        --primary-foreground: hsl(210 40% 98%);
        --secondary: hsl(210 40% 96.1%);
        --secondary-foreground: hsl(222.2 47.4% 11.2%);
        --muted: hsl(210 40% 96.1%);
        --muted-foreground: hsl(215.4 16.3% 46.9%);
        --accent: hsl(210 40% 96.1%);
        --accent-foreground: hsl(222.2 47.4% 11.2%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(214.3 31.8% 91.4%);
        --input: hsl(214.3 31.8% 91.4%);
        --ring: hsl(221.2 83.2% 53.3%);
        --radius: 0.5rem;
    }

    [data-theme="blue_dark"] {
        --background: hsl(222.2 84% 4.9%);
        --foreground: hsl(210 40% 98%);
        --card: hsl(222.2 84% 4.9%);
        --card-foreground: hsl(210 40% 98%);
        --popover: hsl(222.2 84% 4.9%);
        --popover-foreground: hsl(210 40% 98%);
        --primary: hsl(217.2 91.2% 59.8%);
        --primary-foreground: hsl(222.2 47.4% 11.2%);
        --secondary: hsl(217.2 32.6% 17.5%);
        --secondary-foreground: hsl(210 40% 98%);
        --muted: hsl(217.2 32.6% 17.5%);
        --muted-foreground: hsl(215 20.2% 65.1%);
        --accent: hsl(217.2 32.6% 17.5%);
        --accent-foreground: hsl(210 40% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 40% 98%);
        --border: hsl(217.2 32.6% 17.5%);
        --input: hsl(217.2 32.6% 17.5%);
        --ring: hsl(224.3 76.3% 48%);
        --radius: 0.5rem;
    }

    [data-theme="yellow_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(20 14.3% 4.1%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(20 14.3% 4.1%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(20 14.3% 4.1%);
        --primary: hsl(47.9 95.8% 53.1%);
        --primary-foreground: hsl(26 83.3% 14.1%);
        --secondary: hsl(60 4.8% 95.9%);
        --secondary-foreground: hsl(24 9.8% 10%);
        --muted: hsl(60 4.8% 95.9%);
        --muted-foreground: hsl(25 5.3% 44.7%);
        --accent: hsl(60 4.8% 95.9%);
        --accent-foreground: hsl(24 9.8% 10%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(20 5.9% 90%);
        --input: hsl(20 5.9% 90%);
        --ring: hsl(20 14.3% 4.1%);
        --radius: 0.5rem;
    }

    [data-theme="yellow_dark"] {
        --background: hsl(20 14.3% 4.1%);
        --foreground: hsl(60 9.1% 97.8%);
        --card: hsl(20 14.3% 4.1%);
        --card-foreground: hsl(60 9.1% 97.8%);
        --popover: hsl(20 14.3% 4.1%);
        --popover-foreground: hsl(60 9.1% 97.8%);
        --primary: hsl(47.9 95.8% 53.1%);
        --primary-foreground: hsl(26 83.3% 14.1%);
        --secondary: hsl(12 6.5% 15.1%);
        --secondary-foreground: hsl(60 9.1% 97.8%);
        --muted: hsl(12 6.5% 15.1%);
        --muted-foreground: hsl(24 5.4% 63.9%);
        --accent: hsl(12 6.5% 15.1%);
        --accent-foreground: hsl(60 9.1% 97.8%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(60 9.1% 97.8%);
        --border: hsl(12 6.5% 15.1%);
        --input: hsl(12 6.5% 15.1%);
        --ring: hsl(35.5 91.7% 32.9%);
        --radius: 0.5rem;
    }

    [data-theme="violet_light"] {
        --background: hsl(0 0% 100%);
        --foreground: hsl(224 71.4% 4.1%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(224 71.4% 4.1%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(224 71.4% 4.1%);
        --primary: hsl(262.1 83.3% 57.8%);
        --primary-foreground: hsl(210 20% 98%);
        --secondary: hsl(220 14.3% 95.9%);
        --secondary-foreground: hsl(220.9 39.3% 11%);
        --muted: hsl(220 14.3% 95.9%);
        --muted-foreground: hsl(220 8.9% 46.1%);
        --accent: hsl(220 14.3% 95.9%);
        --accent-foreground: hsl(220.9 39.3% 11%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(210 20% 98%);
        --border: hsl(220 13% 91%);
        --input: hsl(220 13% 91%);
        --ring: hsl(262.1 83.3% 57.8%);
        --radius: 0.5rem;
    }

    [data-theme="violet_dark"] {
        --background: hsl(224 71.4% 4.1%);
        --foreground: hsl(210 20% 98%);
        --card: hsl(224 71.4% 4.1%);
        --card-foreground: hsl(210 20% 98%);
        --popover: hsl(224 71.4% 4.1%);
        --popover-foreground: hsl(210 20% 98%);
        --primary: hsl(263.4 70% 50.4%);
        --primary-foreground: hsl(210 20% 98%);
        --secondary: hsl(215 27.9% 16.9%);
        --secondary-foreground: hsl(210 20% 98%);
        --muted: hsl(215 27.9% 16.9%);
        --muted-foreground: hsl(217.9 10.6% 64.9%);
        --accent: hsl(215 27.9% 16.9%);
        --accent-foreground: hsl(210 20% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(210 20% 98%);
        --border: hsl(215 27.9% 16.9%);
        --input: hsl(215 27.9% 16.9%);
        --ring: hsl(263.4 70% 50.4%);
        --radius: 0.5rem;
    }

}